black  # Code linting and formatting
boto3  # AWS client
click  # CLI framework
google-cloud-secret-manager
inflection  # String transformation
nslookup
pydantic  # Modeling and type validation
pytest
pyyaml
typing-extensions  # Allows access to types that aren't available until python 3.8
uw-webdriver-recorder>=3.0.1   # Captures screenshots and assembles test reports
waiter  # A functional implementtion of a timeout/retry/backoff Waiter