# Test Report Artifacts

These tests use the [UW webdriver recorder](https://github.com/uwit-iam/webdriver-recorder) to capture 
screenshots of these browser tests, and assemble them into a report.

By default, the report will be generated under your working directory at `webdriver-report/index.html`.

You can change the output directory by setting `--report-dir /some/custom/path`.
